doctype html
html
   head
      title Bulletin Board
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
      link(rel='stylesheet', type='text/css', href='https://bootswatch.com/4/superhero/bootstrap.css')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
   body
      nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
         button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
         a.navbar-brand(href='/') Post-it
         #navbarColor01.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
               li.nav-item.active
                  a.nav-link(href='/')
                     | Home 
                     span.sr-only (current)
               li.nav-item
                  a.nav-link(href='/messages') Post
               form.form-inline
                  input.form-control.mr-sm-2(type='text', placeholder='Search titles')
      .content 
         h1.header(style='padding:10px') Board
         button.btn.btn-link(type='button' id='editButton') Edit
         button.btn.btn-link(type='button' id='saveButton') Save
         table.table.table-striped.table-hover.table-bordered
            thead.thead-dark
               tr
                  th #
                  th Title
                  th Content
                  th Username
            tbody
               each message in output
                  tr.table-warning
                     td 
                        p.text-danger #{message.id}
                     td 
                        p #{message.title}
                     td
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                           span(aria-hidden='true' position='absolute') ×
                           p(style='text-indent: 100%; white-space: nowrap; overflow: hidden; font-size: 0px') #{message.id}
                        p.text-primary #{message.body}
                        .form-group.has-success
                           input#inputValid.form-control.is-valid.text-primary(type='text', value='')
                     td
                        p <em>#{message.username}
      .footer
         p Copyright © 2017 by Vincent K
      script.
         $(document).ready(function(){
            $('button.close').hide();
            $('.form-group.has-success').hide();
            $('#saveButton').hide();
            
            /*Search function*/
            $('input').keyup(function(){
               setTimeout(function () {
                  const search = $('input').val().toLowerCase();
                     $('tbody tr').each(function(col,tr){
                        let found = {
                           id: $(tr).find('td:eq(0)').text().toLowerCase(),
                           title: $(tr).find('td:eq(1)').text().toLowerCase(),
                           body: $(tr).find('td:eq(2)').text().toLowerCase()
                        }
                        let content = $(this);
                        if(search == ''){
                           content.show();
                        } else if(found.title.indexOf(search) == -1){
                           content.hide();
                        } else {
                           content.show();
                        }
                     });
               }, 0);
               
            });
            
            /*Edit Button*/
            $('button.btn.btn-link').click(function() {
               $('#saveButton').slideToggle(300);
               $('button.close').slideToggle(300);
               $('.form-group.has-success').slideToggle(300);
            });
            /*Edit(delete) Function*/
            $('button.close').click(function() {
               let rowId = $(this).text();
               rowId = rowId.slice(1);
               $('tbody tr').each(function(row,tr){
                  let found = {
                     id: parseInt($(tr).find('td:eq(0)').text()),
                     title: $(tr).find('td:eq(1)').text().toLowerCase(),
                     body: $(tr).find('td:eq(2)').text().toLowerCase()
                  }
                  let content = $(this);
                  if(rowId == found.id){
                     content.hide(300);
                     $.get('/deleted', { input: rowId }, function(data){
                        return;
                     });
                  }
               });
            });
            
            /*Filtering in content into input box*/
            $('button.btn.btn-link').click(function() {
               $('tbody tr').each(function(row,tr){
                  let found = {
                     id: parseInt($(tr).find('td:eq(0)').text()),
                     title: $(tr).find('td:eq(1)').text().toLowerCase(),
                     body: $(tr).find('td:eq(2)').text()
                  }
                  /*Filter through the body to ensure its the body not the button*/
                  found.body = found.body.split(`×${found.id}`);
                  found.body = found.body[1];
                  $(tr).find('input#inputValid.form-control.is-valid').attr('value',`${found.body}`)
               });
            });
            
            /*Save button*/
            $('#saveButton').click(function() {
               $('tbody tr').each(function(row,tr){
                  let found = {
                     id: parseInt($(tr).find('td:eq(0)').text()),
                     title: $(tr).find('td:eq(1)').text().toLowerCase(),
                     body: $(tr).find('td:eq(2)').text()
                  }
                  /*Filter through the body to ensure its the body not the button "x" or row ID*/
                  found.body = found.body.split(`×${found.id}`);
                  found.body = found.body[1];
                  let userinput = $(tr).find('input#inputValid.form-control.is-valid').val();
                  if (userinput !== found.body){
                     setTimeout(function () {
                        $(tr).find('td:eq(2)').html(`<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span><p style="text-indent: 100%; white-space: nowrap; overflow: hidden;">${found.id}</p></button><p class="text-primary">${userinput}<div class="form-group has-success"><input id="inputValid" type="text" value="${userinput}" class="form-control is-valid text-primary"/></div></p>`);
                        $('button.close').hide();
                        $('.form-group.has-success').hide();
                     }, 300);
                     $.get('/edited', { input: userinput, rowid: found.id }, function (data){
                        return;
                     });
                  }
               });
            });
         });
